
# Obsahuje zkompilovane soubory ze src/
build/
# Obsahuje zkompilovsne testy z test/
build_test/
# Dokumentace prijektu - generovana
doc/
# Adresar s jednoduchym testovscim frameworkem
test_framework/

# Pomocne soubory editoru vim
*.swp
# Logovaci soubory
*.log

# Pomocna slozka pro vytvoreni archivu k odevzdani
archive/

